<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    @for (recipe of recipes; track recipe){
    <a href="#" class="list-group-item clearfix">
      <div class="col mb-4">
        <div class="card">
          <img [src]="recipe.imagePath" class="card-img-top foodImage" [alt]="recipe.name" style="max-height: 150px; max-width: 150px">
          <div class="card-body">
            <h5 class="card-title">{{recipe.name}}</h5>
            <p class="card-text">{{recipe.description}}</p>
          </div>
        </div>
      </div>
    </a>
    }
    <app-recipe-item></app-recipe-item>
  </div>
</div>
